:root {
  --dark-background: #333533;
  --light-background: #cfdbd5;
  --dark-main-text-color: #484a49;
  --dark-secondary-text-color: #f5f7f6;
  --light-blue-card-color: #0095c6;
  --sun-color: #ffa500;
  --btn-txt-color-hover: #0bc4ca;
}

.main-page {
  /* height: 100vh; */
  /* width:375px; */
  position: relative;
  padding: 3rem;
}
.dark-mode {
  height: 100%;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1465440567949-6062e3a8459f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center/cover;
  opacity: 0.9;
}

.light-mode {
  height: 100%;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80")
    no-repeat center center/cover;
}

.toggle-theme {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 2;
  right: 0.5rem;
  border: none;
}

.btn {
  background-color: var(--dark-background);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  color: var(--btn-txt-color-hover);
}


@media screen and (min-width: 200px) and (max-width: 300px) {
  .toggle-theme {
    top: 2rem;
    right:35%;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .toggle-theme {
    top: 2rem;
    right:35%;
    /* height: 1rem; */
    font-size: 0.7rem;
  }
}
