.search-bar{
    margin-top: 2rem;
    background: green;
}

@media screen and (min-width: 200px) and (max-width:300px){
    .search-bar{
        margin-top: 3.7rem;
        background: pink;
    }
    
    
}
@media screen and (min-width: 300px) and (max-width:360px){
    .search-bar{
        margin-top: 2.5rem;
        background: pink;
    }
    
}